h1{
    text-align: center;
     color: aliceblue;
}
body{
    background-color: rgb(48, 49, 49);
}
button{
        background-color: blue;
        display: block;
        margin: auto;
        border: none;
}